.my-list .spe .am-list-extra {
    flex-basis: initial;
    
  }
.save{
    position: fixed !important;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.input{
  font-size: 16px !important;
}
.input input{
  text-align: right !important;
  font-size: 16px !important;
  color: #888 !important;
}
.input textarea{
  font-size: 16px !important;
  color: #888 !important;
}